@import url("https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&family=Open+Sans&display=swap");
body {
  font-family: "Open Sans" sans-serif;
}
.logo {
  font-family: "Odor Mean Chey", serif;
  color: #c76001;
}
.foot {
  font-family: "Odor Mean Chey", serif;
}
#section-1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(
      99.1deg,
      #183619 31.55%,
      rgba(88, 115, 77, 0) 72.39%,
      rgba(201, 251, 183, 0) 120.9%
    ),
    url("./images/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .m {
    text-indent: -9999px;
    line-height: 0;
  }
  .m::after {
    content: "Sustainable future";
    text-indent: 0;
    display: block;
    line-height: initial;
  }
}

@media (min-width: 1280px) {
  .m {
    text-indent: -9999px;
    line-height: 0;
  }
  .m::after {
    content: "Create sustainable future";
    text-indent: 0;
    display: block;
    line-height: initial;
  }
}
.all > *:not(#blur) {
  filter: blur(3px);
}
@media (min-width: 550px) {
  .product {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 23em) {
  html {
    font-size: 14px;
    line-height: 1.5;
  }
  .fa-star {
    font-size: 15px;
  }
}

@media (max-width: 639px) {
  .customer-1 {
    display: flex;
    justify-content: center;
  }
  .customer-2 {
    width: 75%;
  }
}
@media (max-width: 470px) {
  .customer-1 {
    display: block;
  }
  .customer-2 {
    width: 100%;
  }
}
.email-section {
  background-image: url("./images/bush-road.png");
  background-size: cover;
  background-repeat: no-repeat;
}
